/* GRID */
.main-wrapper {
	display: grid;
	grid-template-areas: 
	'header'
	'addBook'
	'bookList'
	;
	position: relative;
	justify-content: stretch;
	align-items: center;
	text-align: center;
}
.header {
	grid-area: header;
}
.addBook {
	grid-area: addBook;
}
.bookList {
	grid-area: bookList;
	justify-content: center;
}


form {
	display: flex;
	flex-flow: column;
	background-color: grey;

	max-width: 300px !important;

	transform: scale(0);

	position: absolute;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	
	z-index: 3;
}
input {
	margin: 3px 0px;
}

.bookList {
	display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
	z-index: 1;
}

/* Buttons */
.btn{
	margin-bottom: 5px;
}